<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>
  <body>
    <h1>Hello</h1>
    <div id="app">
      <h1>{{displayTitle}}</h1>
      <p>{{count}}</p>
      <button v-on:click="incrementCount">Increment Count</button>
      <h1>{{incrementAmount}}</h1>
      <h2>{{optimizeIncrementAmount}}</h2>
      <div>
        <label for="increment"> Increment by:</label>
        <input type="number" v-model="incrementAmount" />
      </div>
      <hr />
      <p v-if="message.length%2 === 0">Even : {{message.toUpperCase()}}</p>
      <p v-else>Odd :{{message}}</p>
      <ul v-for="item in listOfnumbers">
        <li>{{ item.id }}</li>
        <ul>
          <li v-for="number in item.list">{{number }}</li>
        </ul>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;

      let count = 0;
      const app = createApp({
        data() {
          return {
            count: 10,
            counterTitle: "This is the title",
            incrementAmount: 8,
            message: "Hello it works!",
            listOfnumbers: [
              {
                name: 1,
                id: "2aa00583-335f-4773-8ba3-11d89357244d",
                list: [1, 2, 3],
              },
              {
                name: 2,
                id: "851ed2b8-3744-4e78-a0ab-35de688dc1d8",
                list: [1, 2, 3],
              },
              {
                name: 3,
                id: "820a758a-e0d3-4228-8acc-58a6beba42f2",
                list: [1, 2, 3],
              },
              {
                name: 4,
                id: "3ddabf05-5c4f-47d4-a870-a2608a6b002e",
                list: [1, 2, 3],
              },
              {
                name: 5,
                id: "c8da694c-b1ef-4d94-87ba-fcf36b89a948",
                list: [1, 2, 3],
              },
            ],
          };
        },
        // about managing darta, triggering actions
        computed: {
          displayTitle() {
            if (this.count > 20) {
              return "This is the title";
            } else return "New Title";
          },
          optimizeIncrementAmount() {
            return this.displayTitle.length * this.incrementAmount;
          },
        },
        methods: {
          // changeIncrementAmount(event) {
          //   this.incrementAmount = Number(event.target.value);
          // },

          incrementCount() {
            this.count += this.optimizeIncrementAmount;
            this.incrementAmount = "";
          },
        },
        // for a specific api call
        watch: {
          // calling the count function as needed to be watched
          count(newValue) {
            console.log(newValue);
            if (newValue > 30) {
              this.counterTitle = "New Title";
            }
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
