:root {
  --background-button: var(--color-light);
  --text-button: var(--text-light);
  --background-input: var(--input-light);
}
:root.dark-theme {
  --background-button: var(--color-dark);
  --text-button: var(--text-dark);
  --background-input: var(--input-dark);
}

.landing {
  // position: relative;
  display: flex;
  flex-direction: row;
  height: 90vh;
  .landingLeft,
  .landingRight {
    width: 50%;
    // position: relative;
    // height: 100vh;
    text-align: center;
    .loginContainer {
      display: flex;
      height: 90vh;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
    }
    .loginForm {
      width: 60%;
      margin: auto;
      img {
        width: 30%;
      }
      h2 {
        font-weight: 700;
      }
      .inputContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 2rem 0rem;
        label {
          text-align: left;
        }
        input {
          background: var(--background-input);
          border-radius: 8px;
          height: 36px;
          border: none;
          padding: 0 0.7rem;
        }
        input:focus {
          outline: 1px solid #10cccb;
          background-color: #ffffff;
        }
      }
      button {
        background: var(--background-button);
        border: none;
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        color: var(--text-button);
        padding: 2vh;
        width: 100%;
        cursor: pointer;
      }
    }
    p {
      margin: 2vh auto;
    }
    a {
      text-decoration: none;
      color: #10cccb;
    }
  }
}

.labelContainer {
  display: flex;
  .labelLeft,
  .labelRight {
    width: 50%;
    a {
      float: right;
    }
  }
}

.landingLeft {
  display: flex;
  padding: 2% 4% 6% 8%;
  .col3 {
    width: 33.3%;
    .box1 {
      display: flex;
      height: 33.3%;
      img {
        width: 100%;
        height: 100%;
      }
      .col2 {
        width: 50%;
        .row2 {
          height: 50%;
          width: 100%;
        }
      }
    }
  }
}

.boxColor {
  width: 100%;
  height: 100%;
  margin: auto;
}
$breakpoint-tablet: 769px;
$breakpoint-mobileL: 426px;
@media (max-width: $breakpoint-tablet) {
  .landing {
    .landingRight {
      .loginContainer {
        .loginForm {
          width: 80%;
        }
      }
    }
    .landingLeft {
      padding: 12% 1% 8% 6%;
    }
  }
}

@media (max-width: $breakpoint-mobileL) {
  .landing {
    flex-direction: column;
    width: 100%;
    .landingLeft,
    .landingRight {
      width: 100%;
    }
    .landingLeft {
      display: none;
    }
  }
}
